#board__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
    width: 100%;

    .icons {
        img {
            width: 70px;
            object-fit: contain;
        }
    }

    .turn {
        &__content {
            background-color: #23252C;
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 10px 28px;
            border-radius: 7px;

            p {
                color: #A3AECA;
                margin-bottom: 0;
                font-weight: 500;
                margin-top: 4px;
            }
        }
    }

    .restart-game {
        &__content {
            background-color: #A3AECA;
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 12px;
            border-radius: 7px;

            img {
                width: 20px;
                object-fit: contain;
            }
        }
    }
}