$color-1: #23252C;
$color-2 : #A3AECA;

body {
    background-color: #1A1921;
}

* {
    font-family: 'Sora', sans-serif;
}

@mixin screen($breakpoint) {
    @if $breakpoint ==small {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint ==medium {
        @media (min-width: 768px) and (max-width: 1023px) {
            @content;
        }
    }

    @else if $breakpoint ==large {
        @media (min-width: 1024px) {
            @content;
        }
    }
}

@mixin screen-x($min , $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}