@import "./board-modules/Board-body.scss";
@import "./board-modules/Board-header.scss";

#board {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: max-content;
        height: max-content;
        padding: 1.4rem;
    }
}