@import "./board-modules/BoardHeader.scss";

#board{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container{
        width: auto;
        height: max-content;
        padding : 1.4rem;
    }
}